.profile-photo {
    width: 20%; 
    height: 20%; 
    object-fit: cover; 
    border-radius: 50%; 
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}
a {
    outline: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}
section {
    display: flex;
    justify-content: center;
}
.navbar-brand img {
    width: 60px; 
    height: 50px;
}


@media (max-width: 768px) { /* Tablet */
    .profile-photo {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 480px) { /* HP */
    .profile-photo {
        width: 40px;
        height: 40px;
    }
}

.profile-photo {
    width: 20%; /* Lebar gambar */
    height: 20%; /* Tinggi gambar */
    object-fit: cover; /* Menyesuaikan gambar tanpa merusak rasio */
    border-radius: 50%; /* Opsional: buat gambar jadi lingkaran */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    /* min-height: 1000px; */
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}
a {
    outline: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}
section {
    display: flex;
    justify-content: center;
}
.navbar-brand img {
    width: 60px; 
    height: 50px;
}


@media (max-width: 768px) { /* Tablet */
    .profile-photo {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 480px) { /* HP */
    .profile-photo {
        width: 40px;
        height: 40px;
    }
}