body {
    font-size: 20px;
    background-color: white; 
}

.match-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.team-home {
    margin-left: 10px;
    text-align: left;
}

.home-team-name {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.away-team-name {
    color: black ;
    font-weight: bold;
    text-decoration: none;
}

.home-team-name:hover,
.away-team-name:hover {
    color: #007bff;
    text-decoration: none;
}

h2 {
    color: black;
    text-align: center;
}

.accordion-item {
    background-color: black;
    border-color: white;
}

.accordion-button {
    color: white;
    background-color: black;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #333;
    color: white;
}

.accordion-collapse {
    background-color: #222;
    color: white;
}

.list-group-item {
    background-color: white;
    color: black;
    border-color: #ddd;
}


.list-group-item .badge {
    background-color: black;
    color: white;
}

.text-center .mt-2 {
    font-size: 10px;
}

